nav {
  background-color: rgb(46, 43, 43);
  display: flex;
  justify-content: space-around;
  border: 0.1px solid rgb(218, 215, 215);
}
nav h1 {
  color: white;
  font-size: x-large;
  margin-top: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}
nav ul {
  width: 40%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav li {
  list-style: none;
  font-size: large;
  margin-top: 25px;
  cursor: pointer;
  color: white;
}
.nav-btn {
  padding: 20px;
}

.btn {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
